*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(wall.png);
    color: #ffffff;
}
#header{
    padding: -20px 0;
}
.hero{
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}
nav{
    width: 100%;
    height: 100px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(165, 46, 70);
    z-index: 100;
    
}
nav .logo{
    width: 150px;
    margin-left: 50px;
    margin-top: 30px;
}
nav .menu{
    width: 50px;
    margin-right: 90px;    
}
nav ul{
    flex: 1;
    text-align: right;
    margin-right: 150px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 1px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    position: relative;
    padding: 20px;
    font-size: 20px;
    margin-left: 35px;
    transition: 0.3s;
}
nav ul li a::before{
    content: '';
    width: 100%;
    height: 0px;
    background: #e7a01a;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -5px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.5s;

}

nav ul li a:hover::before{
    height: 85px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.images{
    width: 45%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 10px;
    
}
.images img {
    position: absolute;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    
}

.images:hover .girl{
    left: 50px;
}
.col h2{
    margin-top: 150px;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Trebuchet MS';

}
span{
    color: crimson;
}
.col a{
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 30px;
    background: #f3be2d;
    display: inline-block;
    color: #000;
    font-weight: 700;
    margin-top: 50px;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.1);
}



/*-----------about----------*/
#about{
    padding: 50px 0;
    color: #faf2f2;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}
.about-col-1 video{
    width: 100%;
    border-radius: 40px;
    margin-top: 20px;
   margin-left: 30px;
}
.video{
    margin-top: 80px;
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 80px;
}
.sub-tittle{
    margin-top: 10px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff;
}
.sub-titles{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 50px;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.bus-title{
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.pic h3{
    margin-top: 30px;
}
/*-----------gallery----------*/
#gallery{
    padding: 30px 0;
}
.sub-title{
    margin-top: 130px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.pic-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.pic{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.pic img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.pic:hover img{
    transform: scale(1.1);
}
.pic:hover .layer{
    height: 100%;
}
/*-----------contact----------*/
#contact{
    padding: 50px 0;
}
.sub-title{
    margin-top: 130px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.contact-left{
    flex-basis: 35%;
    font-size: 20px;
    margin-left: 50px;
}
.contact-right{
    flex-basis: 60%;
    margin-top: 170px;
    margin-right: 10px;
}
.contact-left p{
    margin-top: 30px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: burlywood;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 24px;
    border-radius: 6px;
}
.btn.btn2{
    display: inline-block;
    background: rgb(165, 46, 70);
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}
.btn.btn3{
    display: inline-block;
    background: #0066ff;
    margin: 20px;
    padding: 14px 20px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.btn.btn4{
    display: inline-block;
    background: coral;
    margin: 20px;
    padding: 14px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.btn.btn5{
    display: inline-block;
    background: darkkhaki;
    margin: 20px;
    padding: 14px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.btn.btn6{
    display: inline-block;
    background: hotpink;
    margin: 20px;
    padding: 14px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*-----------footer----------*/

#msg{
    color:#f3be2d;
    margin-top: 25px;
    display: block;

}
.foot{
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    color: #ee8104;
}

/*-----------footer----------*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    color: #fff;
    
}


.foot{
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    color: #f3be2d;
}
/*-----------AGENTS----------*/
#agents{
    padding: 20px 0;
}
.sub-title{
    margin-top: 130px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.pic-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.pic{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.pic img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.pic:hover img{
    transform: scale(1.1);
}
.pic:hover .layer{
    height: 100%;
}
/*-----------kundasang----------*/

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 80%;
    border-radius: 50px;
    margin-top: 100px;
   margin-left: 50px;
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 110px;
}
.sub-tittle{
    margin-bottom: 10px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff;
}
.sub-titles{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.bus-title{
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.pic h3{
    margin-top: 30px;
}